@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700,800,900");
html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-family: 'Raleway';
  position: relative;
  top: 75px; }

.content {
  text-align: center;
  display: inline-block; }

.title {
  font-size: 96px; }

img {
  max-width: 100%; }

.logo {
  width: 50%;
  float: left; }

h1 {
  text-align: left;
  font-size: 19px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  display: block; }

h1 a {
  text-decoration: none;
  color: #000000; }
  h1 a:hover {
    color: #000000;
    text-decoration: none; }

header {
  padding-top: 15px;
  padding-bottom: 15px; }

header span {
  text-transform: uppercase;
  font-size: 15px; }

.overlay-content {
  background: orangered; }

#gallery {
  position: relative;
  padding: 15px;
  padding-top: 170px;
  width: 100%;
  height: 100vh;
  background: #FFFFFF; }

.col {
  width: 33%;
  height: 100%;
  overflow: scroll;
  float: left; }

.col img:hover {
  opacity: .8; }

nav {
  display: block;
  width: 50%;
  float: right; }

nav ul {
  float: right; }

nav ul li {
  display: inline-block; }

nav ul li a {
  color: #000000;
  padding: 5px;
  font-weight: bold;
  position: relative; }

nav ul li a::after {
  content: '';
  right: 0;
  top: 25%;
  bottom: 0;
  width: 1px;
  height: 50%;
  position: absolute;
  background: black;
  display: block; }

.clear {
  clear: both; }

#main-wrapper {
  background: orange;
  height: 100%; }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  background: #fff; }

#border_left,
#border_right,
#border_bottom {
  position: fixed;
  background: #FFFFFF;
  z-index: 103; }

#border_left {
  left: 0;
  width: 30px;
  height: 100%;
  top: 0; }

#border_right {
  right: 0;
  width: 30px;
  height: 100%;
  top: 0; }

#border_bottom {
  bottom: 0;
  height: 30px;
  width: 100%; }

.col-25 {
  width: 25%;
  height: 100%;
  background: red;
  float: left;
  overflow: scroll; }

.col-25:nth-child(1) {
  background: green; }

.col-25:nth-child(2) {
  background: blue; }

.col-25:nth-child(4) {
  background: black; }

#overlay {
  background: black;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  color: #FFFFFF;
  padding: 25px;
  transition: background 2s step-end; }

#overlay h3 {
  text-transform: uppercase;
  font-size: 1.45em;
  letter-spacing: 1px;
  padding: 0;
  margin: 0; }

#overlay p {
  font-size: 1.15em;
  line-height: 1.7em; }

#overlay a {
  border: 3px solid #FFFFFF;
  padding: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: inline-block;
  margin-top: 25px;
  text-decoration: none;
  font-weight: 600; }

#overlay a:hover {
  background: #FFFFFF;
  color: #000000; }

.hidden {
  background: none; }

@media screen and (max-width: 890px) {
  .col-25 {
    width: 50%; } }

@media screen and (max-width: 540px) {
  body {
    position: relative;
    border-top: 10px solid #000000; }
  .col-25 {
    width: 100%; }
  .logo {
    width: 100%;
    border-bottom: 5px solid #000000;
    padding: 0 0 8px 0;
    float: none; }
    .logo h1 {
      font-size: 32px; }
    .logo span {
      font-size: 20px; }
  nav {
    float: none;
    width: 100%;
    background: #EFEFEF; }
    nav ul {
      padding-left: 0;
      float: none; }
      nav ul li {
        display: block; }
        nav ul li a {
          padding: 16px;
          display: block; }
          nav ul li a:after {
            content: none; }
          nav ul li a:hover {
            text-decoration: none;
            background: black;
            color: #FFFFFF; }
  #main-wrapper a {
    width: 90%;
    text-align: center; }
  #overlay {
    padding-top: 165px;
    padding-left: 55px;
    padding-right: 55px; } }

/*# sourceMappingURL=app.css.map */
